*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Baumans", system-ui;
}
#container{
    width: 100%;
    height: 100%;
    position: relative;
}
.logo{
  width: 2%; 
  color: white !important;
  filter: brightness(0%) invert(200%);
}
.neon-navbar{
  box-shadow: 0px 2px 8px 10px /*#fe7667*/ black;
  background-color: #ffff7b;
  background-color: /*#fe7667*/ black;
  /* background-color: transparent !important;
  border: none !important;
  background-image: none !important; */
}
.navfont{
  font-family: "Baumans", system-ui;
  font-size: 1.2rem;
}
.vdo{
  height: 95%;
}
@font-face {
  font-family: 'SuperBread';
  src: url('./font/SuperBread-ywdRV.ttf') format('truetype');
}
.superbread {
  font-family: 'SuperBread', sans-serif;
  color: #ffff7b;
}
.lead{
  color: #ffff7b;
}
.ticket-btn{
  background-color: #ffff7b !important; 
  color: #000000 !important;            
  border: none !important;
}
.ticket-btn:hover {
  background-color: #fcfc46 !important; 
  color: #000 !important;
}
.bg{
  background-color: #fa409d;
  box-shadow: 0px -25px 60px 70px#fa409d;
}
.bg1{
  background-color: #cb0ee2;
  box-shadow: 0px -25px 60px 70px#cb0ee2;
}
.artist-name{
  /* position: absolute; */
  color: rgb(189, 17, 17);
  top: 150px;
  margin-left: 50px;
  /* font-size: 2vw; */
  /* font-family: "Bowlby One SC", sans-serif; */
}
.col:hover{
  border: solid 5px transparent !important;
  cursor: pointer;
}
.large-img {
  height: 370px; /* Increase image height as needed */
  object-fit: cover; /* Ensures image scales/crops nicely */
}
.card-text{
  width: 100%;
  margin-top: 40%;
  font-family: "Roboto", sans-serif !important;
  background: rgba(0, 0, 0, 0.4); width: 100%;
  border-radius: 100px;
  /* font-size: 1; */
}
.font{
   font-family: "Roboto", sans-serif !important;
}
.card1:hover{
  cursor: pointer;
  border: solid 2px transparent !important;
  margin-bottom: 10px;
}
.card-body{
  position: relative;
  background-color: #ffff7b;
  /* box-shadow: 0 0px 10px 5px #000000; */
}
